body{
	background-color: black;
}


.pedido{
	
	float:left;
	width: 20%;
	margin-bottom: 12px;

}


.col-2{
	width: 45%;
	background-color: #fff;
	float:left;
	padding: 5px;
}


.naranjo{
	background-color: orange;
}

.red{
	background-color: red;
}

.pink{
	background-color: pink;
}